body {
    margin: 0;
    overflow: hidden;
}

#editor {
    height: 600px;
}

#sidebar-button {
    position: absolute;
    top:20px;
    left:20px;
    width: 130px;
}

#reset-button {
    position: absolute;
    top:70px;
    left:20px;
    width: 130px;
}

#replay-button {
    position: absolute;
    top: 120px;
    left: 20px;
    width: 130px;
}

#instructions {
    position: absolute;
    top: 30px;
    left: 165px;
    color: #54C8FF;
}
