body {
    margin: 0;
    overflow: hidden;
}

#editor {
    height: 600px;
}

#sidebar-button {
    position: absolute;
    top:20px;
    left:20px;
    width: 130px;
}

#reset-button {
    position: absolute;
    top:70px;
    left:20px;
    width: 130px;
}
